.preview{
    width:22%;
    height: 300px;
    margin-right: 35px;
    border: 2px solid rgba(163, 72, 72, 0.2);
    box-shadow: 1px 3px 3px 3px  rgba(180, 180, 180, 0.2);

    & .image-container{
        width:100%;
        height: 80%;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        box-shadow: 1px 3px 3px 3px  rgba(163, 72, 72, 0.2);
        
        .image{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

    }

    & .footer{
        display:flex;
        justify-content: space-between;
        margin: 18px 5px;

        & span{
            font-weight: 400;
            font-size: large;
        }
    }
}