.header-content{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .brand-icon{
        width: 80px;
        
        .icon{
            width: 80%;
            height: 100%;
        }
    }
    .content-options{
        justify-content: flex-end;

        & .option{
            margin: 0 10px;
            font-size: large;
        }
    }
}